<ion-view id="main" class="has-header padding" title="Select Card">
	<ion-content>
		
		<div ng-controller ="imageController">
			<img id="cardPic" ng-src="data:image/jpeg;base64,{{mainPic}}" ng-click="touchMe($event)" style="height:200px; padding: 5px 5px 5px 5px;"/>
		</div>

		<div class="row">
			<div class="col col-33">
				<p class="center">left</p> <!--where back button would be but not needed -->
			</div>
			<div class="col col-33">
				<canvas class="center" id="canvas" width="100px" height="100px"></canvas>
			</div>
			<div class="col col-33">
				<a class="button button-balanced icon ion-chevron-right center" ui-sref="soil">&nbsp Next</a>
			</div>
		</div>

	</ion-content>
</ion-view>
