<ion-view id="main" class="has-header padding" title="Select Card">
  <ion-content ng-init="init()">
    <img class="pic" id="mainPic" ng-repeat="image in images" ng-src="{{urlForImage(image)}}" ng-click="touchMe($event,image)"/>

    <br>
    <canvas id="canvas" width="100px" height="100px" ng-click="toggle(cardButton.label)"></canvas>
    <canvas id="canvas2" width="100px" height="100px" ng-click="toggle(soilButton.label)"></canvas>
    <br>
    {{sample}}
    <br>


    <a class="button icon ion-chevron-right" ui-sref="soil">Next</a>

  </ion-content>
  </ion-view>
