<ion-view id="main" class="has-header padding" ng-controller="imageController" title="LandColor">
  <ion-content>

    <button class="button button-energized" ng-click="addImage()">
      Add image
    </button><br><br>

    <div ng-init="init()">

      <button ng-click="toggle(cardButton.label)" ng-class="{on:cardButton.state}">
        {{cardButton.label}}
      </button>
      <button ng-click="toggle(soilButton.label)" ng-class="{on:soilButton.state}">
        {{soilButton.label}}
      </button>
    </div>

    <br>
    <canvas id="canvas" width="100px" height="100px"></canvas>
    <canvas id="canvas2" width="100px" height="100px"></canvas>
    <br>
    {{sample}}
    <br>
    <img class="pic" id="mainPic" ng-repeat="image in images" ng-src="{{urlForImage(image)}}" ng-click="touchMe($event,image)"/>



  </ion-content>
</ion-view>
