<ion-view id="main" class="has-header padding" ng-controller="imageController" title="LandColor">
    <ion-content class="center">
        <div class="row">
    <div class="col">
        <button class="button icon-left ion-image button-energized" ng-click="addImage()">
          Add Image
        </button>
      </div>
    </div>




        <canvas id="canvas" width="100px" height="100px"></canvas>
        <canvas id="canvas2" width="100px" height="100px"></canvas>
        
    </ion-content>
</ion-view>
