<ion-view id="main" class="has-header padding" title="LandColor">
  <ion-content>

    <div class="infoTitle center">
      Touch Soil
      <button class="button button-icon icon-small ion-help-circled padTop" ng-click="warning()"></button>
    </div>

    <div ng-controller ="imageController" class="center padding-bottom" >
      <img id="soilPic" ng-src="data:image/jpeg;base64,{{mainPic}}" ng-click="touchMe($event,'soilCanvas')" style="height:200px; padding: 5px 5px 5px 5px;"/>
    </div>

    <div class="row">
      <div class="col col-33 buttonPad" >
       <a class="button button-energized icon ion-chevron-left center" ui-sref="card">&nbsp;Back</a>
      </div>
      <div class="col col-33 infoTitle" style="padding-left:8px;">
        Preview
        <br><br>
        <canvas class="center" id="soilCanvas" width="100px" height="100px"></canvas>
      </div>
      <div class="col col-33 buttonPad">
        <a class="button button-balanced icon ion-checkmark center" ui-sref="results">&nbsp;Done</a>
      </div>
    </div>
  </ion-content>
  </ion-view>
